body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: slategrey;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #37383B;
    letter-spacing: 2px;
}

#main {
    background-color: whitesmoke;
    width: 450px;
    margin: auto;
    margin-top: 150px;
    border-radius: 8px;
}

.dots {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 15%;
    margin: auto;
    padding: 25px;
}

.dots .dot {
    background-color: #DDDDDD;
    width: 8px;
    height: 8px;
    border-radius: 100px;
}

.dots .dot:nth-child(1) {
    background-color: #A9A9A9;
}

#main h1 {
    text-align: center;
    font-weight: 500;
}
.row {
    display: grid;
    grid-template-columns: 100px 1fr 50px;
    padding: 10px;
    border-top: 1px solid #DDDDDD;
    align-items: center;
    font-weight: 600;
    color: #AEABA9;
    text-decoration: none;
}

.row-method:hover {
    background-color: ghostwhite;
    color: #37383B;
}

#check {
    width: 20px;
}

.selected {
    color: #37383B;
    grid-template-columns: 100px 1fr 50px;
}

.row img {
    width: 5rem;
}

.row-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
    background-color: lightgray;
    color: white;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row-next img {
    width: 20px;
    padding: 0 15px;
}