body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/background.jpg');
    background-color: slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #37383B;
    letter-spacing: 2px;
    overflow-x: hidden;
    transition: background-image 1.5s ease;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 25vh;
    transform: translate(40vw);
    transition: transform 1s ease-in-out;
}

#main-payment {
    background-color: whitesmoke;
    width: 450px;
    border-radius: 8px;
    transition: opacity 1s ease-in;
}

#main-thanks {
    background-color: whitesmoke;
    width: 450px;
    height: 100%;
    border-radius: 8px;
    padding-bottom: 30px;
    line-height: 2;
    opacity: 0;
    transition: opacity 1s ease-in;
}

#title {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 1s 0.5s ease-in;
}

.dots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 10%;
    margin: auto;
    padding: 20px;
}

.dots .dot {
    background-color: #DDDDDD;
    width: 8px;
    height: 8px;
    border-radius: 100px;
}

#dot1, #dot2 {
    background-color: #A9A9A9;
}

#main-payment h1 {
    text-align: center;
    font-weight: 500;
}

.row {
    display: grid;
    grid-template-columns: 100px 1fr 50px;
    padding: 10px;
    border-top: 1px solid #DDDDDD;
    align-items: center;
    font-weight: 600;
    color: #AEABA9;
    text-decoration: none;
    transition: background-color 0.5s ease;
    background-color: whitesmoke;
}

.row-method {
    transition: color 0.5s ease;
}

.row-method:hover {
    background-color: ghostwhite;
    color: #37383B;
}

#check {
    width: 20px;
    transition: color 0.3s ease;
}

.selected {
    color: #37383B;
    grid-template-columns: 100px 1fr 50px;
}

.row img {
    width: 5rem;
}

.row-next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
    background-color: lightgray;
    color: white;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.row-next img {
    width: 20px;
    padding: 0 15px;
}