#main-thanks {
    background-color: whitesmoke;
    width: 450px;
    position: relative;
    margin: auto;
    top: 27vh;
    border-radius: 8px;
    padding-bottom: 30px;
    line-height: 2;
}

.dots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 10%;
    margin: auto;
    padding: 25px;
}

.dots .dot {
    background-color: #DDDDDD;
    width: 8px;
    height: 8px;
    border-radius: 100px;
}

.dots .dot:nth-child(2) {
    background-color: #A9A9A9;
}

#main-thanks h1 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}